@page "/ExchangeRates"
@inject ICurrencyClientData _data
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Exchange Rates</PageTitle>

@if (error is not null)
{
    <p class="text-danger">@error</p>
}
<h3 class="text-primary p-3 m-2">Exchange Rate Conversion</h3>
<br />
<br />
<div class="container">
    <div><p class="font-monospace m-0 text-secondary fw-bold text-end ">Price Updated: @SEK.UpdateDate</p></div>

    <EditForm Model="price" @onfocusin="Exchange" @onfocusout="Exchange" OnValidSubmit="Exchange"
              class=" card card-body mt-3 ">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col w-100 m-auto text-center">

            <div class="col-sm-8 col-lg-5 m-auto ">
                <label class="mb-1 fw-bold" for="amount">Amount</label>
                <InputNumber id="amount" min="1" @bind-Value="price.Amount" class="form-control text-center"/>
            </div>

            <div class="col-sm-8 col-lg-2 m-auto text-start">
                <label class="mt-5 mb-1 fw-bold" for="currency-one">From</label>
                <InputSelect @bind-Value="price.FromCurrency" @onclick="Exchange" class="form-select text-center">
                    <option>SEK</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>GBP</option>
                    <option>CAD</option>
                    <option>CHF</option>
                    <option>JPY</option>
                    <option>NOK</option>
                    <option>DKK</option>
                </InputSelect>
            </div>

            <div class="col-sm-8 col-lg-2 m-auto text-start">
                <label class="mt-5 mb-1 fw-bold" for="currency-two">To</label>
                <InputSelect @bind-Value="price.ToCurrency" @onclick="Exchange" class="form-select text-center">
                    <option>SEK</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>GBP</option>
                    <option>CAD</option>
                    <option>CHF</option>
                    <option>JPY</option>
                    <option>NOK</option>
                    <option>DKK</option>
                </InputSelect>

            </div>
        </div>

        <div class="mt-5 mb-5 text-center w-100 d-flex">
            <p class="h5 text-primary p-3 border border-success border-1 m-auto">@($"{price.Amount:#.###}") 
            @price.FromCurrency &nbsp;&nbsp;=&nbsp;&nbsp; @price.Result @price.ToCurrency</p>
        </div>

        <div class="text-center m-auto w-100 ">
            <button type="submit" class="btn btn-primary col-3 fw-bold ">Convert</button>
        </div>

    </EditForm>
</div>


@code {
    Price price = new Price();
    Currency SEK = new Currency();
    string? error;

    protected override async Task OnInitializedAsync()
    {
        var result = await _data.GetAllCurrencies();
        SEK = result.FirstOrDefault()!;
        Exchange();
    }

    private void Exchange()
    {
        try
        {
            var value = ExchangeToSEK(price.FromCurrency, price.Amount);
            var result = ExchangeCurrencies(price.ToCurrency, value);
            price.Result = $"{result:#.###}";
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private decimal ExchangeToSEK(string currency, decimal value)
    {
        switch (currency)
        {
            case "SEK": return value;
            case "USD": return value * SEK.USD;
            case "EUR": return value * SEK.EUR;
            case "GBP": return value * SEK.GBP;
            case "CAD": return value * SEK.CAD;
            case "CHF": return value * SEK.CHF;
            case "JPY": return value * SEK.JPY;
            case "NOK": return value * SEK.NOK;
            case "DKK": return value * SEK.DKK;

            default: throw new Exception("Please choose from the available currencies");
        }
    }

    private decimal ExchangeCurrencies(string currency, decimal value)
    {
        switch (currency)
        {
            case "SEK": return value;
            case "USD": return value / SEK.USD;
            case "EUR": return value / SEK.EUR;
            case "GBP": return value / SEK.GBP;
            case "CAD": return value / SEK.CAD;
            case "CHF": return value / SEK.CHF;
            case "JPY": return value / SEK.JPY;
            case "NOK": return value / SEK.NOK;
            case "DKK": return value / SEK.DKK;

            default: throw new Exception("Please choose from the available currencies");
        }
    }

}