@page "/CurrencyExchange"
@inject IHttpClientFactory _clientFactory
@inject IConfiguration _config
@inject ICurrencyClientData _currencyClient

<PageTitle>Exchange Rates</PageTitle>

<div class="container">
    <div class="row pt-3">
        <div class="col-4 mt-3">
            <h4 class="text-primary fw-bold">Forex Exchange Rates</h4>
        </div>
        <div class="col text-end mt-3">
            <div class="col">
                <a class="btn btn-secondary m-auto " href="https://www.currencyconverterapi.com/server-status" target="_blank">Server Status </a>
                <button class="btn btn-primary mx-3" @onclick="@(async () => await UpdateExchangeRates())">Update</button>
            </div>
        </div>
    </div>
    @if (error is not null)
    {
        <p>@error</p>
    }
    @if (currencies is null)
    {
        <em class="h3">Loading .......</em>
    }
    else if (currencies.Any() == false)
    {
        <div class="h3 m-5"><em>Loading.......</em></div>
    }
    else
    {
        <div class="pt-4">
            @foreach (var currency in currencies!)
            {
            <p class="text-end col-11 font-monospace fw-bold text-primary bg-opacity-100">[@currency.CurrencyName] Updated: @currency.UpdateDate</p>
                 
                <table class="table table-bordered table-striped text-center border-dark">
                    <thead class="border-2 table-dark">
                        <tr>
                            <th>@currency.CurrencyName</th>
                            <th>Exchange Rate</th>
                        </tr>
                    </thead>
                    <tbody class="border-1">
                        <tr>
                            <td>USD</td>
                            <td>@currency.USD</td>
                        </tr>
                        <tr>
                            <td>EUR</td>
                            <td>@currency.EUR</td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>@currency.GBP</td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            <td>@currency.CAD</td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            <td>@currency.CHF</td>
                        </tr>
                        <tr>
                            <td>JPY</td>
                            <td>@currency.JPY</td>
                        </tr>
                    </tbody>
                </table>
                index = currencies.IndexOf(currency);
                <br />
            }

        </div>
    }

</div>
@code {
    private List<Currency>? currencies;
    int index;
    string? error;

    protected override async Task OnInitializedAsync()
    {
        await PrintExchangeRates();

    }

    private async Task PrintExchangeRates()
    {
        try
        {
            var currencyData = RestService.For<ICurrencyClientData>("https://localhost:7128");
            var result = await currencyData.GetAllCurrencies();
            currencies = result.ToList();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private async Task UpdateExchangeRates()
    {
        try
        {
            var json = await RequestUpdatedPrice();
            Currency? currency = JsonSerializer.Deserialize<Currency>(json.ToString());
            if (currency is null) return;
            var apiKey = _config.GetValue<string>("CurrencyConverterAPI:ApiKey");
            var result = await _currencyClient.UpdateCurrency(apiKey, currency);
            currencies![0] = result;
            await PrintExchangeRates();
        }
        catch (Exception)
        {
            error = "Failed to request an update!  Check the server status";
        }

    }

    private string[] GenerateLinks()
    {
        var apiKey = _config.GetValue<string>("CurrencyConverterAPI:FreeKey");
        return new[]
        {
            _config.GetValue<string>("CurrencyConverterAPI:USD_SEK,EUR_SEK") + apiKey,
            _config.GetValue<string>("CurrencyConverterAPI:GBP_SEK,CAD_SEK") + apiKey,
            _config.GetValue<string>("CurrencyConverterAPI:CHF_SEK,JPY_SEK") + apiKey,
        };
    }

    private async Task<JObject> RequestUpdatedPrice()
    {
        string[] requestLinks = GenerateLinks();
        var client = _clientFactory.CreateClient();
        JObject currency_json = JObject.Parse($"{{ \"updated\": \"{DateTime.Now}\"}}");
        currency_json.Merge((JObject.Parse($"{{ \"CurrencyName\": \"{currencies?[0].CurrencyName}\"}}")));
        currency_json.Merge((JObject.Parse(await client.GetStringAsync(requestLinks[0]))));
        currency_json.Merge((JObject.Parse(await client.GetStringAsync(requestLinks[1]))));
        currency_json.Merge((JObject.Parse(await client.GetStringAsync(requestLinks[2]))));
        return currency_json;
    }


}
