@page "/Employees"
@inject IEmployeeClientData _data;

<PageTitle>Employees</PageTitle>

<div class="container-fluid p-0 m-0  overflow-auto ">
    @if (error is not null)
    {
        <p class="text-danger">@error</p>
    }
    @if (employees is null)
    {
        <em class="h3">Loading ......</em>
    }
    else if (employees.Any() == false)
    {
        <p>No Employee Was Found or Returned From Database</p>
    }
    else
    {
        <div class="row pt-4">
            <h4 class="text-primary fw-light col-6">Registered Employees <span class="small">(@employees.Count)</span></h4>
            <div class=" text-end">
                <a href="Addemployee" class="btn btn-success mb-3 fw-bold">Assgin Employee</a>
            </div>
        </div>
        <br />
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr class="border-5 border-dark">
                    <th class="text-center">Employee</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Changes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in employees)
                {
                    <tr class="border-1 border-secondary">
                        <td class="col-4 align-middle text-lg-center fw-bold">@employee.Username()</td>
                        <td class="col-4 text-sm-center align-middle">@employee.Email</td>
                        <td class="col-1 text-sm-center align-middle">@employee.City</td>
                        <td class="col-2 text-sm-center align-middle">@employee.Phone</td>
                        <td class="col-1 text-sm-center align-middle">@employee.Role</td>
                        <td>
                            <div class="text-center">
                                <a href="@($"/EmployeeDetails/{employee.Id}")" class="btn btn-primary p-1 m-1">Details</a>
                                <a href="@($"/UpdateEmployee/{employee.Id}")" class="btn btn-warning p-1">Update</a>
                                <a href="@($"/DeleteEmployee/{employee.Id}")" class="btn btn-danger p-1 mt-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {
    List<Employee>? employees;
    string? error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadEmployee();
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }

    private async Task LoadEmployee()
    {
        var result = await _data.GetAllEmployees();
        if (result == null) return;
        employees = result.ToList();
    }


}
