@page "/EmployeeDetails/{id}"
@inject IEmployeeClientData _employeeData
@inject ITodoClientData _todoData

<PageTitle>Employee - Details</PageTitle>

@if (employee is null)
{
    <em>Loading ......</em>
}
else
{
<div class=" d-flex " style="height: 50vh">
    <table class="table table-striped table-details ">
        <tbody class="border-5 fw-bold text-center align-middle h5">

            <tr class="border-3">
                <th class="table-dark">Id</th>
                <td>@employee.Id</td>
            </tr>

            <tr class="border-3">
                <th class="table-dark">Employee</th>
                <td>@employee.Username()</td>
            </tr>

            <tr class="border-3">
                <th class="table-dark">Phone</th>
                <td>@employee.Phone</td>
            </tr>

            <tr class="border-3">
                <th class="table-dark">Email</th>
                <td>@employee.Email</td>
            </tr>

            <tr class="border-3">
                <th class="table-dark">City</th>
                <td>@employee.City</td>
            </tr>

            <tr class="border-3">
                <th class="table-dark">Birthdate</th>
                <td>@employee.Birthdate.ToShortDateString()</td>
            </tr>

            <tr class="border-3">
                <th class="table-dark">Role</th>
                <td>@employee.Role</td>
            </tr>

            <tr class="">
                <th class="table-dark">Tasks</th>
                <td>
                    <a href="@($"/Employee/{employee.Id}/Tasks")" class="btn btn-primary btn-outline-info p pe-4 ps-4">@tasksCount</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
    <div class="row-cols-6 m-5 text-center">
        <a href="@($"/UpdateEmployee/{employee.Id}")" class="btn btn-warning p-2 m-3">Update</a>
        <a href="@($"/DeleteEmployee/{employee.Id}")" class="btn btn-danger p-2 m-3">Delete</a>
        <a href="employees" class="btn btn-primary p-2 m-3">Back</a>
    </div>

}

@code {
    Employee? employee;
    int? tasksCount = 0;
    [Parameter]
    public string Id { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            employee = await _employeeData.GetEmployeeById(Id); 
            if (Id == string.Empty) return;
            tasksCount = await _todoData.GetEmployeeTasksCount(Id);
        }
        catch (Exception) { }
    }

}